---
import Hamburger from "@components/Hamburger.astro";
import Navigation from "@components/Navigation.astro";
import LangSwitcher from "./LangSwitcher.astro";
import LightDarkModeSwitchIcon from "./LightDarkModeSwitchIcon.astro";

const { lang, langSwitchPath } = Astro.props;
console.log(`Header - lang: ${lang}, langSwitchPath: ${langSwitchPath}`);
---

<header>
  <nav>
    <LightDarkModeSwitchIcon />
    <Hamburger />
    <Navigation lang={lang} />
    <LangSwitcher lang={lang} langSwitchPath={langSwitchPath} />
  </nav>
</header>
