---
let baseUrl = import.meta.env.BASE_URL;
baseUrl = baseUrl.startsWith('/') ? baseUrl.slice(1) : baseUrl;
---
<div  class="nav-links">
  <a href=`${Astro.site}${baseUrl}`>Home</a>
  <a href=`${Astro.site}${baseUrl}about/`>About</a>
  <a href=`${Astro.site}${baseUrl}blog/`>Blog</a>
  <a href=`${Astro.site}${baseUrl}tags/`>Tags</a>
</div>
