---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import "@styles/global.css";

const baseUrl = import.meta.env.BASE_URL;
const ga4ID = "G-PME2ZW8P3V";

interface Props {
  lang: string;
  langSwitchPath: string;
  pageTitle: string;
}
const { lang, langSwitchPath, pageTitle } = Astro.props;
// TODO TBD: should I use a Astro Theme instead of my custom Tailwind UI built one? https://astro.build/themes/
// TODO change the favicon to the logo
// Google Analytics
// TODO Cookie Banner (which? own?)
// TODO SEO fields: https://github.com/jonasmerlin/astro-seo
// TODO console logging for props with a global switch. Place the switch in the astro.config.js?
// TODO add logging in papertrail or bugsnag for client run code
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={`${baseUrl}/favicon.svg`} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css"
    />
    <meta name="viewport" content="width=device-width" />
    <script
      async
      src=`https://www.googletagmanager.com/gtag/js?id=${ga4ID}`
      is:inline></script>
    <script
      is:inline
      define:vars={{ id: ga4ID }}
      type="text/plain"
      data-category="analytics"
      data-service="Google Analytics"
    >
      (() => {
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag("js", new Date());
        gtag("config", id);
      })();
    </script>
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{pageTitle}</title>
    <slot name="head-end" />
  </head>
  <body>
    <Header lang={lang} langSwitchPath={langSwitchPath} />
    <h1>{pageTitle}</h1>

    <slot />

    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
    <script is:inline type="module" src={`${baseUrl}/cookieconsent-config.js`}></script>
  </body>
</html>
