---
import { getRelativeLocaleUrl } from "astro:i18n";

import BaseLayout from "./BaseLayout.astro";

interface HrefLangLink {
  lang: string;
  href: string;
}
interface Props {
  frontmatter: any; // TODO fix type
  lang: string;
  langSwitchPath: string;
  hrefLangLinks: HrefLangLink[];
}
const { frontmatter, lang, langSwitchPath, hrefLangLinks } = Astro.props;
// TODO switch to MDX? Allows for React components in mardown posts
// TODO SEO title & description. Generate from posting frontmatter title & description?
// TODO deal with dates: https://docs.astro.build/en/guides/content-collections/#working-with-dates-in-the-frontmatter
// TODO how to translate tags? just write the keys in the frontmatter and translate them in the template? use keys in slugs?
// TODO add date formatting for the blog post frontmatter: https://docs.astro.build/en/recipes/i18n/#formatting-dates
// TODO paging for the blog posts: https://docs.astro.build/en/reference/api-reference/#paginate
---

<BaseLayout
  pageTitle={frontmatter.title}
  lang={lang}
  langSwitchPath={langSwitchPath}
>
  {
    hrefLangLinks.map((link: HrefLangLink) => (
      <link
        slot="head-end"
        rel="alternate"
        hreflang={link.lang}
        href={link.href}
      />
    ))
  }
  <p>{frontmatter.pubDate.toISOString().slice(0, 10)}</p>
  <p><em>{frontmatter.description}</em></p>
  <p>Written by: {frontmatter.author}</p>
  <img src={frontmatter.image.url} width="600" alt={frontmatter.image.alt} />
  <slot />
  <div class="tags">
    {
      frontmatter.tags.map((tag: string) => (
        <p class="tag">
          <a
            href={`${getRelativeLocaleUrl(lang)}/ecommerce-insights/tags/${tag}`}
          >
            {tag}
          </a>
        </p>
      ))
    }
  </div>
</BaseLayout>
<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
